@using VendingMachineApp.Utils
@model VendingMachineApp.Models.VendingMachineViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Кошелек пользователя</h2>
        <div data-bind="foreach: BuyerWallet">
            <div class="btn btn-block btn-group-lg btn-lg btn-default" data-bind="click: $parent.Deposit">
                <span data-bind="text: ParValue"></span> руб = <span data-bind="text: Count"></span> штук
            </div>
            <br>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Внесенная сумма</h2>
        <p>
            <div id="deposit" class="btn btn-block btn-group-lg btn-lg btn-default text-center" data-bind="text: DepositTotal"></div>
            <div id="refundButton" class="btn btn-block btn-group-lg btn-lg btn-default text-center" data-bind="click: Refund">Сдача</div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Кошелек аппарата</h2>
        <div data-bind="foreach: MachineWallet">
            <div class="coin btn btn-block btn-group-lg btn-lg btn-default disabled">
                <span data-bind="text: ParValue"></span> руб = <span data-bind="text: Count"></span> штук
            </div>
            <br>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ассортимент товара</h2>
        <div data-bind="foreach: AvailableGoods">
            <div class="coin btn btn-block btn-group-lg btn-lg btn-default" data-bind="click: $parent.Buy, css: {disabled: Count() <= 0}">
                <span data-bind="text: Name"></span> = <span data-bind="text: Price"></span> руб, <span data-bind="text: Count"></span> порций
            </div>
            <br>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/knockout-3.3.0.debug.js"></script>
<script type="text/javascript" src="~/Scripts/knockout.mapping-latest.debug.js"></script>
<script type="text/javascript" src="~/Scripts/bootbox.js"></script>
<script type="text/javascript" src="~/Scripts/ViewModels/VendingMachineViewModel.js"></script>
<script type="text/javascript" src="~/Scripts/ViewModels/CoinViewModel.js"></script>

<script type="text/javascript">
    var vm = new VendingMachineViewModel();

    $(function () {
        var tempVm = ko.mapping.fromJS(@Html.Raw(Model.ToJson()));

        ko.utils.arrayForEach(tempVm.BuyerWallet(), function (coin) {
            vm.BuyerWallet.push(coin);
        });
        ko.utils.arrayForEach(tempVm.MachineWallet(), function (coin) {
            vm.MachineWallet.push(coin);
        });
        ko.utils.arrayForEach(tempVm.AvailableGoods(), function (coin) {
            vm.AvailableGoods.push(coin);
        });

        ko.applyBindings(vm);
    });
</script>